{% extends 'base.html' %}
{% load static %}
{% block title %} Pricing For Dr. Karşıyaka {% endblock %}
{% block meta_description %} Find our current prices for all major Dental Procedures. {% endblock %}

{% block content %}

<br><br><br>
<section id="pricing5" data-section="pricing-5" class="data-section">
    <div class="container">
          <div class="section-header">
                <h2 class="wow fadeInDown animated">Pricing</h2>
                <p class="wow fadeInDown animated">We have the best prices for you do not worry ;)</p>
            </div>
         <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="table">
                    <h3 class="editContent">Basic</h3>
                    <h2 class="editContent">$13</h2>
                    <p class="editContent">Per Month</p>
                    <ul class="table-content">
                        <li class="editContent"><i class="fa fa-hdd-o"></i> 10 GB Storage</li>
                        <li class="editContent"><i class="fa fa-pie-chart"></i> 500 GB Bandwidth</li>
                        <li class="editContent"><i class="fa fa-envelope-o"></i> Email Support</li>
                        <li class="editContent"><i class="fa fa-cogs"></i> 24x7 Support</li>
                    </ul>

                    <div class="text-center text-uppercase">
                        <a href="#" class="btn btn-default-green-transparent-tiny editContent">Signup Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="table long-table">
                    <h3 class="editContent">Premium</h3>
                    <h2 class="editContent">$23</h2>
                    <p class="editContent">Per Month</p>
                    <ul class="table-content">
                        <li class="editContent"><i class="fa fa-hdd-o"></i> 10 GB Storage</li>
                        <li class="editContent"><i class="fa fa-pie-chart"></i> 500 GB Bandwidth</li>
                        <li class="editContent"><i class="fa fa-envelope-o"></i> Email Support</li>
                        <li class="editContent"><i class="fa fa-cogs"></i> 24x7 Support</li>
                    </ul>

                    <div class="text-center text-uppercase">
                        <a href="#" class="btn btn-default-blue-tiny editContent">Signup Now</a>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="table">
                    <h3 class="editContent">Developer</h3>
                    <h2 class="editContent">$33</h2>
                    <p class="editContent">Per Month</p>
                    <ul class="table-content">
                        <li class="editContent"><i class="fa fa-hdd-o"></i> 10 GB Storage</li>
                        <li class="editContent"><i class="fa fa-pie-chart"></i> 500 GB Bandwidth</li>
                        <li class="editContent"><i class="fa fa-envelope-o"></i> Email Support</li>
                        <li class="editContent"><i class="fa fa-cogs"></i> 24x7 Support</li>
                    </ul>

                    <div class="text-center text-uppercase">
                        <a href="#" class="btn btn-default-green-transparent-tiny editContent">Signup Now</a>
                    </div>
                </div>

            </div>
         </div>
    </div>
</section>
<br><br><br>
{% endblock %}